
@{
    ViewBag.Title = "title";
}

<h2>title</h2>


<a asp-action="Index" asp-controller="Buildings" asp-area="Administration">
    Administracja budynkami
</a>

<a asp-action="Index" asp-controller="Rooms" asp-area="Administration">
    Administracja pokojami
</a>