@model RoomsEditVm
@{
    ViewBag.Title = "title";
}

<a asp-action="Details" asp-route-id="@Model.Id">
    wróć do listy detali pokoju
</a>
<h2>
    Edycja pokoju @Model.Name
</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">
            Nazwa
        </label>
        <input class="form-control" asp-for="Name"/>
    </div>
    <div class="form-group">
        <label asp-for="AccessCode">
            Kod dostępu
        </label>
        <input class="form-control" asp-for="AccessCode"/>
    </div>
    <button type="submit">
        zapisz zmiany
    </button>
</form>